* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  max-height: 100%;
}
.App {
  text-align: center;
}
.parentImage {
  position: relative;
  margin-top: 20px;
  height: 60px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

img {
  margin: 2px;
  /* height: 20.17px; */
}
.s_logo {
  position: fixed;
  top: 20.83px;
  left: 45%;
  /* left: 30%; */
}
.p_logo {
  position: fixed;
  top: 20.83px;
  left: 47.2%;
  /* left: 30%; */
}
.a_logo {
  position: fixed;
  top: 20.83px;
  left: 49.4%;
  /* top: 20.83px; */
}
.c_logo {
  position: fixed;
  left: 51.6%;
  top: 20.83px;
}
.eTop_logo {
  position: fixed;
  left: 53.8%;
  top: 20.83px;
}

.eBottom_logo {
  position: fixed;
  top: 27.6px;
  left: 53.8%;
  /* top: 25%; */
}

.x_top_left_logo {
  position: fixed;
  top: 20.83px;
  left: 56.2%;
}
.x_center_logo {
  position: fixed;
  top: 10.83px;
  left: 56%;
}
.x_bottom_right_logo {
  position: fixed;
  top: 30.83px;
  left: 57.2%;
}
